Flask
Werkzeug
flask-cors
flask-jwt-extended
pymongo[srv]
python-dotenv
openai
PyPDF2
python-multipart
requests
aiohttp
authlib
email-validator
flask-talisman
flask-jwt
sqlalchemy
Flask-Mail
python-docx
docx2pdf
celery
redis
gunicorn
numpy
certifi
pyOpenSSL